/*CSS document*/

body {
    font-family: mr-eaves-xl-modern, sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.03em;
    color: #444;
}

div.container {
    max-width: 40em;
    margin: auto;
}

header h1 {
    max-width: 5em;
    margin: auto;
    padding-top: 0.5em;
}

header {
    background: #444;
    padding-bottom: 0.2em;
    margin-bottom: 0.7em;
}
nav {
    text-align: center;
}
header nav ul li {
    list-style: none;
    display: inline;
    line-height: 2em;
    font-weight: 700;
    letter-spacing: 0.03em;
    padding: 0.75em;
    font-size: 1.3em;
}

header nav ul li a {
    text-decoration: none;
    padding: 0.2em;
    color: rgb(255, 255, 255);
    font-weight: bold;
}
nav a:hover {
    color: #f6a3b1;
}

figure {
    margin: 0;
}

figcaption {
    margin: 0.4em 0em 1em 0em;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1.1em;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}
a {
    text-decoration: none;
    color: #444;
}
.mainstory {
    background-color: #eee;
    padding: 1em;
    margin-bottom: 1em;
}
.regsection {
    background-color: #eee;
    padding: 1em;
    margin-bottom: 1em;
}
.imgsection {
    background-color: #eee;
    padding: 1em;
    margin-bottom: 1em;
}
.imgsection a:hover {
    color: #f6a3b1;
}
.regsection a:hover {
    color: #f6a3b1;
}
.mainstory a:hover {
    color: #f6a3b1;
}
h2 {
    font-size: 1.85em;
    line-height: 1.3em;
}
h3 {
    font-size: 1.5em;
}
p {
    line-height: 1.15em;
}
